<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name= "cn" connectionString="Data Source=DESKTOP-0ACD0H5\SQLEXPRESS;Initial Catalog=OceanLife;Integrated Security=True"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

	<!--
	<appSettings>
		<add key= "select_parent" value="Select * from Species" />
		<add key= "select_child" value="Select * from LivingBeing where Sname = @s" />
		<add key= "parent_table_name" value="Species" />
		<add key= "parent_id" value="name" />
		<add key= "child_parent_key" value="Sname" />
		<add key= "child_id_name" value="id" />
		<add key= "child_table_name" value="LivingBeing" />
		<add key= "child_no_of_columns" value="7" />
		<add key= "child_column_names" value= "id,name,Sname,fLength,fWeight,color,behaviour"/>
		<add key= "column_names_insert_parameters" value="@id,@name,@Sname,@fLength,@fWeight,@color,@behaviour" />
		<add key= "update_query" value="UPDATE LivingBeing SET name=@name, fLength=@flength, fWeight=@fWeight, color=@color, behaviour=@behaviour WHERE id=@id" />
	</appSettings>
	-->
	

	<appSettings>
		<add key= "select_parent" value="Select * from Families" />
		<add key= "select_child" value="Select * from Genera where Fname=@s" />
		<add key= "parent_table_name" value="Families" />
		<add key= "parent_id" value="name" />
		<add key= "child_parent_key" value="Fname" />
		<add key= "child_id_name" value="name" />
		<add key= "child_table_name" value="Genera" />
		<add key= "child_no_of_columns" value="3" />
		<add key= "child_column_names" value= "name,Fname,speciesCount"/>
		<add key= "column_names_insert_parameters" value="@name,@Fname,@speciesCount" />
		<add key= "update_query" value="UPDATE Genera SET Fname=@Fname, speciesCount=@speciesCount WHERE name=@name" />
	</appSettings>

</configuration>