h1.navBar {
  color: white;
  padding-left: 30px;
  margin-top: 10px;
  padding-right: 20px;
  margin-bottom: 6px;
  font-weight: 500;
}

#filterColor {
  height: 100vh;
  width: 100vw;
  position: fixed;
  pointer-events: none;
  background-color: #5782dc;
  opacity: 10%;
}
