
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="matFormWrapper">
    <h2 class="h2form">Login</h2>
    <hr>

    <mat-form-field>
      <input matInput formControlName="username" id="username" name="username" placeholder="username">
    </mat-form-field> <br>
    <mat-error *ngIf="username">
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        Please enter a valid username
      </div>
    </mat-error>

    <button mat-button color="accent" type="submit">login</button>
  </div>
</form>
