
<form [formGroup]="orderDeleteForm">
  <div class="matFormWrapper">
    <h2 class="h2form">Delete Order</h2>
    <hr>

    <mat-form-field>
      <input matInput formControlName="id" id="id" name="id" placeholder="id">
    </mat-form-field> <br>
    <mat-error *ngIf="id">
      <div *ngIf="id.invalid && (id.dirty || id.touched)">
        Please enter a valid id
      </div>
    </mat-error>

    <button mat-button color="accent" (click)="onSubmitDeleteById(orderDeleteForm)">Delete</button>
  </div>
</form>
