<h2>Users</h2>

<table>
  <tr>
    <th>id</th>
    <th>username</th>
    <th>password</th>
    <th>name</th>
    <th>age</th>
    <th>role</th>
    <th>profile</th>
    <th>email</th>
    <th>webpage</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.password}}</td>
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
    <td>{{user.role}}</td>
    <td>{{user.profile}}</td>
    <td>{{user.email}}</td>
    <td>{{user.webpage}}</td>
    <td>
      <button mat-button color="accent" (click)="deleteUser(user.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button color="accent"
              (click)="goToUpdate(user.id, user.username, user.password, user.name, user.age,
              user.role, user.profile, user.email, user.webpage)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </tr>
</table>
