<!--<h2>Destinations Filter</h2>-->

<!--<table>-->
<!--  <tr>-->
<!--    <th>id</th>-->
<!--    <th>destination</th>-->
<!--    <th>country</th>-->
<!--    <th>price</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let dest of destinations">-->
<!--    <td>{{dest.id}}</td>-->
<!--    <td>{{dest.destination}}</td>-->
<!--    <td>{{dest.country}}</td>-->
<!--    <td>{{dest.price}}</td>-->
<!--  </tr>-->
<!--</table>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<div class="matFormWrapper">-->
<!--  <h2 class="h2form">Filter by name</h2>-->
<!--  <hr>-->
<!--  <mat-form-field>-->
<!--    <input matInput #name placeholder="name" (keyup)="filter(name.value)">-->
<!--  </mat-form-field>-->
<!--  <br>-->
<!--  <br>-->
<!--  <button mat-button color="accent" (click)="doReport()">Report</button>-->

<!--</div>-->

<!--<br>-->
<!--<br>-->


<!--<table *ngIf="reportStatus">-->
<!--  <tr>-->
<!--    <th>id</th>-->
<!--    <th>destination</th>-->
<!--    <th>country</th>-->
<!--    <th>price</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let dest of reportStatus">-->
<!--    <td>{{dest.id}}</td>-->
<!--    <td>{{dest.destination}}</td>-->
<!--    <td>{{dest.country}}</td>-->
<!--    <td>{{dest.price}}</td>-->
<!--  </tr>-->
<!--</table>-->

